.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
}

/* header */
.header {
  background: rgb(1, 45, 99);
}
.header .container {
  display: flex;
  align-items: center;
}

.header__link {
  margin-right: 152px;
}

.header__logo {
  width: 100px;
  height: 60px;
}

.header__nav {
  margin-right: 73px;
}

.nav__list {
  display: flex;
  gap: 29px;
}

.nav__list-item-link {
  color: rgb(199, 199, 199);
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0%;
}

.nav__list-item-link:hover,
.nav__list-item-link:focus {
  color: rgb(255, 255, 255);
}

.nav__list__item {
}

.header__list {
  display: flex;
  gap: 15px;
}

.header__list__item {
  color: rgb(199, 199, 199);
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0%;
}

.header__list__item:nth-child(2) {
  color: rgb(255, 255, 255);
}

.header__list-item-link {
}

/* main */
.main {
}

/* hero */
.hero {
  display: flex;
  background-image: url("../images/group.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 91px;
  padding-bottom: 183px;
}

.hero__logo {
  width: 160px;
  height: 120px;
}

.hero__logo-text {
  color: rgb(255, 255, 255);
  font-family: "PT Serif", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: -35px;
  margin-left: 30px;
}

.hero__title {
  color: rgb(255, 255, 255);
  font-family: "Playfair Display", sans-serif;
  font-size: 144px;
  font-weight: 400;
  line-height: 192px;
  letter-spacing: 0%;
  text-align: left;
}

.hero__subtitle {
  color: rgb(255, 255, 255);
  font-family: "Playfair Display", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 96px;
  letter-spacing: 0%;
  text-align: left;
}

.hero__text {
  width: 508px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 12px;
}

.hero__btn {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;

  margin-top: 41px;
  border-radius: 10px;
  background: rgb(142, 50, 198);
  width: 254px;
  height: 67px;
}

/* info */
.info {
  display: flex;
  background-image: url("../images/group99.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  align-items: center;
  margin-bottom: 1px;
}

.info__list {
  display: flex;
  justify-content: center;
  border: 5px solid rgb(142, 50, 198);
  padding: 25px 0;
}

.info__list-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  text-align: center;

  color: #ffffff;
}

.info__list-item:not(:last-child) {
  border-right: 1px solid #fff;
}

.info__list-item:nth-child(odd) {
  padding: 0 50px;
}

.info__list-item:nth-child(2) {
  padding: 0 95px;
  display: flex;
  flex-direction: column-reverse;
}

/* revievs */
.reviews {
  display: flex;
  background-image: url(../images/speacturs/konopelka.png),
    url("../images/group21.png");
  background-position: left bottom, center;
  background-repeat: no-repeat;
  background-size: auto, cover;
  height: 520px;
  margin-bottom: 1px;
}

.reviews__title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  text-align: center;

  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 25px;
}

.reviews__list {
  display: flex;
  justify-content: center;
  gap: 93px;
}

.reviews__list-item:nth-child(1) {
  width: 255px;
  height: 292px;
  border-radius: 15px;
  background: linear-gradient(
    137deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
  box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978;
}

.reviews__list-item:nth-child(2) {
  width: 255px;
  height: 292px;
  border-radius: 15px;
  background: linear-gradient(
    137deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
  box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
}

.reviews__list-item:nth-child(3) {
  width: 255px;
  height: 292px;
  border-radius: 15px;
  background: linear-gradient(
    143deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
  box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26;
}

.reviews__list-item {
  font-weight: 400;
  font-size: 36px;
  text-align: left;

  color: #ffffff;
  padding-left: 13px;
  padding-top: 49px;
}

.reviews__item-text {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.reviews__item-data {
  color: #d8d8d8;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 47px;
}

.reviews__div {
  display: flex;
  align-items: center;
}

.reviews__text-div {
  flex-direction: column;
  margin-left: 5px;
}

.reviews__item-img {
}

.reviews__item-name {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.reviews__item-data-join {
  color: #d8d8d8;
  font-size: 12px;
  font-weight: 400;
}

/* order */
.order {
  display: flex;
  height: 509px;
  background-image: url("../images/group80.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.order__title {
  color: rgb(255, 255, 255);
  font-family: "Playfair Display", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 33px;
  margin-top: 20px;
}
