.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
}

/* header */
.header {
  background: rgb(1, 45, 99);
}
.header .container {
  display: flex;
  align-items: center;
}

.header__link {
  margin-right: 152px;
}

.header__logo {
  width: 100px;
  height: 60px;
}

.header__nav {
  margin-right: 73px;
}

.nav__list {
  display: flex;
  gap: 29px;
}

.nav__list-item-link {
  color: rgb(199, 199, 199);
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0%;
}

.nav__list-item-link:hover,
.nav__list-item-link:focus {
  color: rgb(255, 255, 255);
}

.nav__list__item {
}

.header__list {
  display: flex;
  gap: 15px;
}

.header__list__item {
  color: rgb(199, 199, 199);
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0%;
}

.header__list__item:nth-child(2) {
  color: rgb(255, 255, 255);
}

.header__list-item-link {
}

/* main */
.main {
}

/* hero */
.hero {
  display: flex;
  background-image: url("../images/group.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 91px;
  padding-bottom: 183px;
}

.hero__logo {
  width: 160px;
  height: 120px;
}

.hero__logo-text {
  color: rgb(255, 255, 255);
  font-family: "PT Serif", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: -35px;
  margin-left: 30px;
}

.hero__title {
  color: rgb(255, 255, 255);
  font-family: "Playfair Display", sans-serif;
  font-size: 144px;
  font-weight: 400;
  line-height: 192px;
  letter-spacing: 0%;
  text-align: left;
}

.hero__subtitle {
  color: rgb(255, 255, 255);
  font-family: "Playfair Display", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 96px;
  letter-spacing: 0%;
  text-align: left;
}

.hero__text {
  width: 508px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 12px;
}

.hero__btn {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;

  margin-top: 41px;
  border-radius: 10px;
  background: rgb(142, 50, 198);
  width: 254px;
  height: 67px;
}

/* info */
.info {
  display: flex;
  background-image: url("../images/group99.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  align-items: center;
  margin-bottom: 1px;
}

.info__list {
  display: flex;
  justify-content: center;
  border: 5px solid rgb(142, 50, 198);
  padding: 25px 0;
}

.info__list-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  text-align: center;

  color: #ffffff;
}

.info__list-item:not(:last-child) {
  border-right: 1px solid #fff;
}

.info__list-item:nth-child(odd) {
  padding: 0 50px;
}

.info__list-item:nth-child(2) {
  padding: 0 95px;
  display: flex;
  flex-direction: column-reverse;
}

/* revievs */
.reviews {
  display: flex;
  background-image: url(../images/speacturs/konopelka.png),
    url("../images/group21.png");
  background-position: left bottom, center;
  background-repeat: no-repeat;
  background-size: auto, cover;
  height: 520px;
  margin-bottom: 1px;
}

.reviews__title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  text-align: center;

  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 25px;
}

.reviews__list {
  display: flex;
  justify-content: center;
  gap: 93px;
}

